.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181818;
    /* background: rgb(8,8,8);
    background: linear-gradient(0deg, rgba(8,8,8,1) 0%, rgba(40,40,40,1) 100%);
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    
  }


.loading-box {
  height: min-content;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.loading-logo > img{
  width: 150px;
  height: 150px;
}